[device]
sample_time = 3000
conversion_time = 4

[adc]
type = PicoLog24

[picolog]
# channel config
channel_0 = true
channel_0_range = 0
channel_0_type = 1
channel_1 = true
channel_1_range = 0
channel_1_type = 1